<?xml version="1.0"?>
<config>
	<modules>
		<FraudShields_Post>
			<version>1.3.0.0</version>
		</FraudShields_Post>
	</modules>
	<global>
		<models>
			<fraudshields_post>
				<class>FraudShields_Post_Model</class>
			</fraudshields_post>
		</models>
		<events>
			<sales_order_place_before>
				<observers>
					<fraudshields_post>
						<class>fraudshields_post/observer</class>
						<method>FraudShieldsBefore</method>
						<type>singleton</type>
					</fraudshields_post>
				</observers>
			</sales_order_place_before>
			<sales_order_place_after>
				<observers>
					<fraudshields_post>
						<class>fraudshields_post/observer</class>
						<method>FraudShieldsAfter</method>
						<type>singleton</type>
					</fraudshields_post>
				</observers>
			</sales_order_place_after>
		</events>
	</global>
</config>